<?xml version="1.0" encoding="UTF-8"?>
<Window type="main" layout="application/view/layout/base.html" >
    {% if user %}
    <Row background="#f8f8f8" class="w-100"  margin="m-0" padding="p-0" >
        <Column background="#fbfbfb" height="48px" padding="py-1;px-3" margin="m-0" class="border-bottom">
            <Column>
                <Graph src="static/logo.png" height="40px" />
                <Graph src="static/text.png" height="40px" />
            </Column>
            <Column expand="dynamic" alignment-horizontal="center" >
                <!-- 
                <Action type="dropdown" border="end" id="lazio" >
                    <Action id="nn1" route="application/view/page/crm/overview.xml" click="move(target:'nn1',place:'lazio-btn')" alignment-content="horizontal" ><Graph icon="bi-buildings-fill"/><Text padding="px-1">Colosso</Text></Action>
                    <Action id="nn2" route="application/view/page/crm/overview.xml" click="move(target:'nn2',place:'lazio-btn')" alignment-content="horizontal" ><Graph icon="bi-person-fill"/><Text padding="px-1">SottoMonte</Text></Action>
                </Action>
                <Action route="application/view/page/cubute/overview.xml" class="d-inline-flex"><Graph icon="bi-shield-fill"/><Text padding="px-1">Security</Text></Action>
                <Action route="application/view/page/cubute/overview.xml" class="d-inline-flex"><Graph icon="bi-gear-fill"/><Text padding="px-1">Operations</Text></Action>
                -->
                <Action route="application/view/page/inventory/overview.xml" class="d-inline-flex"><Graph icon="bi-basket3-fill"/><Text padding="px-1">Inventory</Text></Action>
                <!--<Action route="application/view/page/project/overview.xml" class="d-inline-flex"><Graph icon="bi-kanban-fill"/><Text padding="px-1">Planning</Text></Action>-->
                <Action route="application/view/page/cms/overview.xml" class="d-inline-flex"><Graph icon="bi-code-slash"/><Text padding="px-1">Development</Text></Action>
            </Column>
            <Column padding="pe-4" content="end" alignment-horizontal="center" >
                <Messenger id="login-msg" domain="success,error" view="Toast" />
                <Action size="sm" route="offcanvas:profile" padding="p-0">
                    <Column alignment-vertical="center" space="1">
                        <Action route="tab:tab-notifications" click="tab(id:'tab-notifications')" padding="p-0">
                            <Graph icon="bi-inbox-fill" color="white"/> 
                        </Action>
                        <Graph icon="bi-question-circle-fill" color="white"/>
                        <Graph src="{{ user.avatar or 'static/logo.svg' }}" margin="mx-2" width="40px" height="40px" class="rounded-2 border" />
                        <Text>{{ user.email }}</Text>
                    </Column>  
                </Action>
                <Window id="profile" type="canvas" title="Logout" >
                    <Column alignment-content="center" alignment-vertical="center" height="47px">
                        <Column expand="dynamic">
                            <Action size="sm" hide="offcanvas:profile" >
                                <Column alignment-vertical="center" >
                                    <Graph src="{{ user.avatar or 'static/logo.svg' }}" width="40px" height="40px" class="rounded-2 border" />
                                    <Text color="black" margin="ms-2" >{{ user.email }}</Text>
                                </Column>
                            </Action>
                        </Column>
                        <Column expand="auto" padding="p-0">
                            <Action id="button2" icon="REMOVE" size="auto" route="modal:window-logout" class=" d-inline" ><Graph icon="bi-box-arrow-right"/></Action>
                        </Column>
                    </Column>
                    <Container class="border-top" padding="p-0">
                        <!-- TabNav -->
                        <Group type="nav" margin="m-0" padding="p-0" class="border-bottom">
                            <Action route="tab:tab-profile"><Graph icon="bi-person-fill-gear"/><Text class="text-uppercase">Profile</Text></Action>
                            <Action route="tab:tab-wallet"><Graph icon="bi-wallet-fill"/><Text class="text-uppercase">Wallet</Text></Action>
                            <Action route="tab:tab-api"><Graph icon="bi-key-fill"/><Text class="text-uppercase">API</Text></Action>
                            <Action route="tab:tab-notifications"><Graph icon="bi-inbox-fill"/><Text class="text-uppercase">Box</Text></Action>
                        </Group>
                        <!-- Tab -->
                        <Group type="tab">
                            <Container id="tab-profile">
                                <View url="application/view/content/tab/profile.xml" />
                            </Container>
                            <Container id="tab-wallet">
                                <View url="application/view/content/tab/wallet.xml" />
                            </Container>
                            <Container id="tab-api">
                                <View url="application/view/content/tab/api.xml" />
                            </Container>
                            <Container id="calls">
                                <Text>4</Text>
                            </Container>
                            <Container id="tab-notifications" expand="full">
                                <Messenger id="notifications" domain="*" view="Notifica" />
                            </Container>
                            <Container id="historical">
                                <Text>6</Text>
                            </Container>
                        </Group>
                    </Container>
                </Window>
                <Window id="window-logout" type="modal" position="centered" size="sm" title="Logout" action="logout">
                    <View url="application/view/content/form/logout.xml" />
                </Window>
            </Column>
        </Column>
        <Column id="main" expand="full" margin="mb-auto" padding="p-0" class="overflow-auto" >
            
        </Column>
    </Row>
    {% else %}
    <View url="application/view/page/auth/login.xml" />
    {% endif %}
</Window>